/* Landing page*/

@keyframes latest {
	0% {
		background-image: url('../assets/outdoor-cam-1.png');
	}
	30% {
		background-image: url('../assets/outdoor-cam-2.png');
	}
	60% {
		background-image: url('../assets/outdoor-cam-3.png');
	}
	100% {
		background-image: url('../assets/outdoor-cam-4.png');
	}
}

/* Error page*/
@keyframes total {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}

	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}

@keyframes cara_uno {
	100% {
		opacity: 1;
		transform: skew(30deg, 0deg);
	}
}

@keyframes cara_dos {
	100% {
		opacity: 1;
		transform: skew(-30deg, 0deg);
	}
}

@keyframes cara_tres {
	100% {
		opacity: 1;
		transform: skew(30deg, 0deg);
	}
}

@keyframes cara_cuatro {
	100% {
		opacity: 1;
		transform: skew(-30deg, 0deg);
	}
}