:root {
    --one-color:#000000;
    --two-color:#212121;
    --three-color: #FAFAFA;
    --four-color:#F5F5F5;
    --five-color: #AEAEAE;
    --six-color: #969696;
    --blue-color:#2A77A6;
    --red-color:#CA4A44;
    --green-color:#06B94B;
    --yellow-color:#EFD901;
}

* {
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;
}

body {
    background-color: var(--three-color);
    font-family: "Montserrat", sans-serif;
    color: var(--one-color);
}

main {
    flex-grow:1;
    background: white;
}

a {
    color: var(--red-color);
    text-decoration:none;
    cursor:pointer;
}

h3 {
    color:var(--three-color);
}

h4 {
    margin-bottom: 10px;
}








