:root {
    --one-color:rgb(0, 0, 0);
    --two-color:rgb(33, 33, 33);
    --three-color: rgb(250, 250, 250);
    --four-color:rgb(245, 245, 245);
    --five-color: rgb(174, 174, 174);
    --six-color: rgb(150, 150, 150);
    --blue-color:rgb(42, 119, 166);
    --red-color:rgb(202, 74, 68);
    --green-color:rgb(6, 185, 75);
    --yellow-color:rgb(239, 217, 1);

    --white-color: rgb(255, 255, 255);
    --yellow-light-color: rgb(246, 231, 29);
    --mustard-color: rgb(245, 209, 13);
    --gray-color: rgb(24, 24, 24);
    --black-color: rgb(2, 2, 2);

}

* {
    margin:0;
    padding:0;
    outline:none;
    box-sizing:border-box;
}

body {
    background-color: var(--white-color);
    font-family: "Montserrat", sans-serif;
    color: var(--gray-color);
}

main {
    flex-grow:1;
    background: var(--white-color);
}

a {
    color: var(--red-color);
    text-decoration:none;
    cursor:pointer;
}

/* h3 {
    color:var(--white-color);
} */

h4 {
    margin-bottom: 10px;
}








