/*** SOLUTIONS section ***/

#home-page .solutions {
    text-align:center;
    color: var(--one-color);
}

#home-page .solutions h1 {
    margin-top:20px;
    font-weight:400;
}

#home-page .solutions .index_cards-content p {
    text-align:left;
    padding: 20px 20px;
    position: relative;
}

#home-page .solutions h3 {
    margin-top: 10px;
    text-align: left;
    position: relative;
}

#home-page .solutions p {
    color: var(--two-color);
}

/*** PRODUCTS section ***/

#home-page .products {
    text-align:center;
    color: var(--one-color);
}

#home-page .products h1 {
    margin-top:20px;
    font-weight:400;
}

#home-page .products a {
    text-decoration: none;
}

#home-page .products .index_card img {
    padding: 30px;
}

#home-page .products .index_card h3 {
    margin-bottom:20px;
}

/*** ABOUT section ***/

#home-page .about {
    padding: 20px;
    background: var(--three-color);
}

#home-page .about .about-content {
    width: 80%;
    margin: 0 auto;
}

#home-page .about .about-content h1 {
    margin-bottom: 10px;
    font-weight: 400;
}

#home-page .about .about-content p {
    margin-bottom: 20px;
}