/**BANNER**/

.solutions_banner {
    height:30vh;
    width: 100vw;
    position:relative;
    background-size:cover;
    background-position: 50% 50%;
    background-image: url("../assets/page-bg.jpg");
    z-index:1;
}

.solutions_banner-content {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.90);
    background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(33,33,33,0) 100%);
    display:flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    text-align:center;

}

.solutions_banner-content span {
    color: var(--three-color);
    padding: 2% 0 0;
    font-size: 60px;

}

.solutions_banner-content h2 {
    color: var(--three-color);
    font-weight:100;
    margin-bottom: 10px;
}

.solutions_banner-content p {
    color: var(--three-color);
    font-weight:100;
    width: 500px;
}

/*SOLUTIONS*/

.solutions {
    text-align:center;
    color: var(--one-color);
}

.solutions h1 {
    font-weight:400;
}

.solutions p {
    color: var(--two-color);
}

/*PRODUCTS*/

.products {
    text-align:center;
}

.products h1 {
    margin-top:20px;
    color: var(--one-color);
    font-weight:400;
}

.products p {
    color: var(--two-color);
}

/*CARDS*/

.cards-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    padding: 20px auto;
}

.card {
    padding: 20px 10px;
    background-color: var(--font-color);
    position: relative;
    text-align:left;
    border-radius: 20px;
    cursor:pointer;
    margin: 30px 0;
    
}

.card:hover {
    background-color: var(--nav-color);
}

.card img {
    width: 100%;
    height:200px;
    margin-bottom: 10px;
}

.card h3 {
    color: var(--two-color);
    font-weight:400;
    text-align:left;
    margin:10px 0;
}

.card p {
    text-align:left;
    color: var(--five-color);
}

#card {
    padding: 20px 10px;

    background-color: var(--font-color);
    position: relative;

    border-radius: 20px;
    cursor:pointer;
    margin: 30px 0;
    
}

#card:hover {
    background-color: var(--nav-color);
}

#card img {
    width: 280px;
    height:150px;
    margin-bottom: 10px;
}

#card h3 {
    color: var(--two-color);
    font-weight:400;
    text-align:center;
    margin:10px 0;

}

#card p {
    color: var(--two-color);
    font-weight:400;
    text-align:left;
    margin:10px 0;
    color: var(--five-color);

}