@media (max-width: 768px) {
    .cards-content {
        grid-template-columns: 1fr;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr;
    }

    .explore_cards {
        grid-template-columns: 1fr;
    }
}